@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* min-width: auto; */
  /* background-color: #444a48; */
  /* color: white; */
  font-family: "Century Gothic";
}

.styledHr {
  border: none;
  height: 1px;
  /* background-color: aqua; */
  background-image: linear-gradient(
    to right,
    rgb(20, 20, 20),
    rgb(145, 16, 16),
    rgb(7, 8, 8)
  );
}


