@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* min-width: auto; */
  /* background-color: #444a48; */
  /* color: white; */
  font-family: "Century Gothic";
}

.styledHr {
  border: 0;
  height: 1px;
  /* background-color: aqua; */
  background-image: linear-gradient(
    to right,
    rgba(20, 20, 20, 0.707),
    rgb(173, 109, 109),
    rgba(7, 8, 8, 0.77)
  );
}

.transitHr {
  border: none;
  height: 7px;
  /* background-color: aqua; */
  background-image: linear-gradient(
    to right,
    rgba(20, 20, 20, 0.707),
    rgb(85, 9, 9),
    rgba(7, 8, 8, 0.77)
  );

}
